body {
  color: #333;
  overflow: scroll;
  height: auto;
  background-size: cover;
  background: url('../img/background.avif') no-repeat fixed center;
  position: relative;
  min-height: 100vh;
}

#home-section {
  height: auto;
  text-align: center;
  margin-bottom: -10px;
  min-height: 90vh;
}

.card {
  color: white;
  height: auto;
  background-color: rgba(33, 37, 41, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  width: auto;
}

.card-header,
.card-footer {
  opacity: 1;
}

.weather-icon {
  transform: scale(0.8);
}

.menu-wrapper {
  position: relative;
  max-width: 1110px;
  margin: 1em auto;
  background-color: rgba(33, 37, 41, 0.3); /*rgba(245, 245, 245, 0.4);*/
  color: white;
}

.menu {
  white-space: nowrap;
  overflow-y: hidden;
}

.item {
  display: inline-block;
  width: 100px;
  height: 100%;
}

.modal {
  max-width: calc(100% - 140px);
  max-height: calc(100% - 30px);
}

.top-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.map-border {
  border: solid #333;
  border-radius: 10px;
}

.result-box #myList {
  padding: 5px 10px;
}

.result-box #myList li {
  background-color: #fff;
  list-style: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.result-box #myList li:hover {
  background: #e9f3ff;
}

.footer {
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  margin-top: auto;
  position: fixed;
  text-align: center;
  flex-grow: 0;
  border-top-color: darkgrey;
}

.img-styled {
  max-width: 50%;
  height: auto;
  border: solid #333;
  border-radius: 10px;
  place-items: center;
}

.text-content {
  color: darkblue;
  background-color: rgb(255, 255, 255, 0.5);
  width: fit-content;
  text-align: center;
}

.logo {
  width: 4%;
  height: 4%;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 10%;
    height: 10%;
  }
}

