{% extends "layout.html" %}

{% block head%}
    {{ super() }}
    <meta
            name="description"
            content="Short content defining what is the app about. Furthermore, used APIs are been clearly mentioned.">
    <style>
        body{color:#333;overflow:scroll;height:auto;background-size:cover;background:url('../img/background.avif') no-repeat fixed;position:relative;min-height:100vh}#home-section{height:auto;text-align:center;margin-bottom:-10px;min-height:90vh}.modal{max-width:calc(100% - 140px);max-height:calc(100% - 30px)}.text-content{color:darkblue;background-color:rgb(255,255,255,0.5);width:fit-content;text-align:center}.logo{width:4%;height:4%}@media screen and (max-width:600px){.logo{width:10%;height:10%}}    </style>
{% endblock %}

{% block title %}About DX-Dash{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-1">DX-Dash App</h1>
    </div>
    <div class="row justify-content-center">
        <p class="lead text-content">A basic serverless app retrieving weather data through APIs.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="lead text-content">I am keen on learning from your coding experience. Please feel free to give me your feedback.</div>
</div>
<div class="container py-5" style="max-width: 600px;">
    <span class="text-muted">Powered by:</span>
    <div class="container py-3">
        <a href="https://www.weatherapi.com/"><img class="img-fluid rounded float-left" width="20%" height="20%" src="//cdn.weatherapi.com/v4/images/weatherapi_logo.png" alt=""></a>
        <a href="https://developers.teleport.org/api/"><img class="img-fluid" width="15%" height="15%" src="../static/img/teleport_logo.png" alt=""></a>
        <a href="https://developers.google.com/maps"><img class="img-fluid rounded float-right" width="15%" height="15%"  src="../static/img/google_maps_logo.png" alt=""></a>
    </div>
</div>
<div class="container py-5">
    <span class="text-muted">Credits for:</span>
    <div class="container py-3">
        <a href="https://icons8.com">Icons by Icons8</a>
    </div>
</div>
{% endblock %}