{% extends "layout.html" %}

{% block head%}
    {{ super() }}
    <meta
            name="description"
            content="Meant to be used to look for weather in other locations around the world.">
    <style>
        body{color:#333;overflow:scroll;height:auto;background-size:cover;background:url('../img/background.avif') no-repeat fixed;position:relative;min-height:100vh}#home-section{height:auto;text-align:center;margin-bottom:-10px;min-height:90vh}.modal{max-width:calc(100% - 140px);max-height:calc(100% - 30px)}.result-box #myList{padding:5px 10px}.text-content{color:darkblue;background-color:rgb(255,255,255,0.5);width:fit-content;text-align:center}.logo{width:4%;height:4%}@media screen and (max-width:600px){.logo{width:10%;height:10%}}
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js" async></script>
{% endblock %}

{% block title %}Search Forecast{% endblock %}

{% block alert %}
    <!-- ALERT MODAL -->
    {% if alerts is defined and alerts[0]|length > 0 %}
        <div class="modal" id="alertModal">
        <div class="modal-dialog alert alert-warning">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Weather alert: {{ alerts[1] }}!</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <blockquote class="blockquote text-left">
                        <p class="lead">{{ alerts[2] }}</p>
                        <footer class="blockquote-footer">Source:
                            <cite title="Source Title">{{ alerts[0] }}</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- TITLE -->
    <h1 class="display-3">Weather around the globe!</h1>

    <!-- DESCRIPTION -->
    <div class="row justify-content-center">
        <p class="lead text-content">Here you can explore the weather in many other locations.</p>
    </div>

    <!-- FORM INPUTS & CITIES SEARCH RESULTS -->
    <div class="container">
        <!-- FORM INPUT -->
        <form class="input-group mt-3" method="post">
            <input name="city" id="input" class="form-control" type="text" placeholder="search for city...">
            <div class="input-group-append">
                <button id="btnPic" class="btn btn-outline-secondary" type="submit" name="search" value="search">Search</button>
            </div>
        </form>
        <!-- SEARCH RESULTS CITIES -->
        <div class="result-box" style="visibility: hidden;">
            <ul class="list-unstyled" id="myList"></ul>
        </div>
    </div>

    <!-- LOCATION / SUMMARY / DATE & MAP / PHOTO -->
    <div class="container">

        <!-- LOCATION / SUMMARY -->
        <div class="row align-items-center justify-content-center m-2">
            {% if location is defined %}
            <div class="card">
                <div class="card-header top-header">
                    LOCATION
                </div>
                <div class="body-card">
                    <div class="row justify-content-center m-1">
                        <div class="lead"><strong>{{ location }}</strong></div>
                    </div>
                    <div class="row m-1">
                        {% if summary is defined and summary|length > 0 %}
                        <blockquote class="blockquote text-left">
                            <p class="lead">{{ summary | safe }}</p>
                            <footer class="blockquote-footer text-right">Source:
                                <cite title="Source Title">Teleport API</cite>
                            </footer>
                        </blockquote>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- MAP / PHOTO -->
        <div class="row justify-content-center m-2">
            {% if flag is defined %}
            {% if flag %}
            <img class="img-styled" src={{ map_link }}>
            {% else %}
            <div class="embed-responsive embed-responsive-16by9 map-border">
                <iframe class="embed-responsive-item" allowfullscreen frameborder="0"
                        src={{ map_link }}
                        width="143%" height="345"></iframe>
            </div>
            {% endif %}
            {% endif %}
        </div>

        <!-- SUNRISE / FEELS LIKE / SUNSET  -->
        <div class="container">
            <div class="row">
                {% if sunrise is defined %}
                <!-- SUNRISE -->
                <div class="col">
                    <div class="card d-inline-block text-center">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h1 class="lead py-3 top-header">SUNRISE</h1>
                            </div>
                            <div class="row justify-content-center">
                                <img width="64" height="64"
                                     src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/external-sunrise-weather-tulpahn-flat-tulpahn.png"
                                     alt="external-sunrise-weather-tulpahn-flat-tulpahn"/>
                            </div>
                            <div class="row justify-content-center py-3">
                                <strong>{{ sunrise }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if sunset is defined %}
                <!-- SUNSET -->
                <div class="col mb-1">
                    <div class="card d-inline-block text-center">
                        <div class="card-body text-center">
                            <div class="row justify-content-center">
                                <h1 class="lead py-3 top-header">SUNSET</h1>
                            </div>
                            <div class="row justify-content-center">
                                <img width="64" height="64"
                                     src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/external-sunset-weather-tulpahn-flat-tulpahn.png"
                                     alt="external-sunset-weather-tulpahn-flat-tulpahn"/>
                            </div>
                            <div class="row justify-content-center py-3">
                                <strong>{{ sunset }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if feels is defined and temp is defined %}
                <!-- FEELS LIKE -->
                <div class="col mb-1">
                    <div class="card d-inline-block text-center">
                        <div class="card-body text-center">
                            <div class="row justify-content-center">
                                <h1 class="lead py-3 top-header">TEMPERATURE</h1>
                            </div>
                            <div class="row justify-content-center">
                                <img width="64" height="64" src="https://img.icons8.com/arcade/64/temperature.png" alt="temperature"/>
                            </div>
                            <div class="row justify-content-center">
                                <strong>Feels like {{ feels }}</strong>
                            </div>
                            <div class="row justify-content-center">
                                <strong>{{ temp }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if air_q_desc is defined and air_q_index is defined %}
                <!-- AIR QUALITY -->
                <div class="col">
                    <div class="card d-inline-block text-center">
                        <div class="card-body text-center">
                            <div class="row justify-content-center">
                                <h1 class="lead py-3 top-header">AIR QUALITY</h1>
                            </div>
                            <img width="64" height="64" src="https://img.icons8.com/arcade/64/air-quality.png" alt="air-quality"/>
                            <div class="row justify-content-center">
                                <div class="display-5">Air Quality Index: <strong>{{ air_q_index }}</strong></div>
                            </div>
                            <div class="row justify-content-center">
                                <strong>{{ air_q_desc }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- WEATHER IN HOURS-->
        {% if weather_hours is defined %}
        <div class="menu-wrapper">
            <h1 class="lead py-3 top-header">24H FORECAST</h1>
            <ul class="menu">
                {% for key in weather_hours %}
                <li class="item">
                    <p class="display-5">{{ key }}</p>
                    <img class="weather-icon" src="{{ weather_hours[key]['weather_icon']}}" alt="">
                    <p class="display-5">{{ weather_hours[key]['temperature'] }}&deg;</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- WEATHER IN 3 DAYS -->
        {% if weather_days is defined %}
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header lead">
                    3 DAYS FORECAST
                </div>
                <div class="body-card text-center">
                    {% for key in weather_days %}
                    <div class="row text-center">
                        <div class="col align-self-center">{{ key }}</div>
                        <div class="col align-self-center">
                            <img class="weather-icon" src="{{ weather_days[key]['weather_icon']}}" alt="">
                        </div>
                        <div class="col align-self-center">{{ weather_days[key]['temperature']}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- HUMIDITY - WIND SPEED - PRESSURE -->
        {% if params is defined %}
        <div class="container">
            <div class="row">
                {% for key in params %}
                <div class="col md-2 py-2">
                    <div class="card d-inline-block h-100">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h3 class="lead py-3 top-header">{{ key }}</h3>
                            </div>
                            <div class="row justify-content-center">
                                {% if key=='WIND SPEED' %}
                                <img width="48" height="48" src="https://img.icons8.com/doodle/48/wind.png"
                                     alt="wind"/>
                                {% elif key=='PRESSURE' %}
                                <img width="48" height="48" src="https://img.icons8.com/external-flat-andi-nur-abdillah/64/external-Air-Pressure-weather-(flat)-flat-andi-nur-abdillah.png"
                                     alt="external-Air-Pressure-weather-(flat)-flat-andi-nur-abdillah"/>
                                </h3>
                                {% else %}
                                <img width="48" height="48" src="https://img.icons8.com/office/80/dew-point.png"
                                     alt="dew-point"/>
                                {% endif %}
                            </div>
                            <div class="row justify-content-center py-3">
                                <strong>{{ params[key] }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- GRAPHS -->
    <div class="container align-self-center">
        <div class="container py-2 m-2">
            <div id="chart1"></div>
        </div>
        <div class="container py-2 m-2">
            <div id="chart2"></div>
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
    // GET CURRENT DATE
    let date = new Date();
    // GET YEAR
    $('#year').text(date.getFullYear());
    // FORMATTED DATE
    $('#date').text(date.toString().slice(0, 16));
    // GRAPHS FOR TEMPERATURE AND HUMIDITY //
    var graph1 = {{ graph1json | safe}};
    Plotly.plot("chart1", graph1, {});
    var graph2 = {{ graph2json | safe}};
    Plotly.plot("chart2", graph2, {});
</script>
{% endblock %}
