{% extends "layout.html" %}

{% block title %}My Forecast{% endblock %}

{% block head%}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block alert %}
    <!-- ALERT MODAL -->
    {% if alerts is defined and alerts[0]|length > 0 %}
        <div class="modal" id="alertModal">
        <div class="modal-dialog alert alert-warning">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Weather alert: {{ alerts[1] }}!</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <blockquote class="blockquote text-left">
                        <p class="lead">{{ alerts[2] }}</p>
                        <footer class="blockquote-footer">Source:
                            <cite title="Source Title">{{ alerts[0] }}</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- LOCATION / DATE / SUMMARY -->
    <div class="container">
        <!-- LOCATION -->
        <div class="row justify-content-center">
            <div class="display-4 mb-3">{{ location }}</div>
        </div>
        <!-- DATE -->
        <div class="row justify-content-center">
            <div class="display-5 mb-3"><span id="date"></span></div>
        </div>
    </div>

    <div class="container">
        <!-- SUMMARY -->
        <div class="card mb-1 py-2">
            <div class="card-header top-header">
                OVERVIEW
            </div>
            <div class="body-card">
                {% if summary is defined and summary|length > 0 %}
                <blockquote class="blockquote text-left">
                    <p class="lead m-1">{{ summary | safe }}</p>
                    <footer class="blockquote-footer text-right">Source:
                        <cite title="Source Title">Teleport API</cite>
                    </footer>
                </blockquote>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- SUNRISE / FEELS LIKE / SUNSET  -->
    <div class="container">
        <div class="row">
            <!-- SUNRISE -->
            <div class="col">
                <div class="card d-inline-block text-center">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h1 class="lead py-3 top-header">SUNRISE</h1>
                        </div>
                        <div class="row justify-content-center">
                            <img width="64" height="64"
                                 src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/external-sunrise-weather-tulpahn-flat-tulpahn.png"
                                 alt="external-sunrise-weather-tulpahn-flat-tulpahn"/>
                        </div>
                        <div class="row justify-content-center py-3">
                            <strong>{{ sunrise }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SUNSET -->
            <div class="col mb-1">
                <div class="card d-inline-block text-center">
                    <div class="card-body text-center">
                        <div class="row justify-content-center">
                            <h1 class="lead py-3 top-header">SUNSET</h1>
                        </div>
                        <div class="row justify-content-center">
                            <img width="64" height="64"
                                 src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/external-sunset-weather-tulpahn-flat-tulpahn.png"
                                 alt="external-sunset-weather-tulpahn-flat-tulpahn"/>
                        </div>
                        <div class="row justify-content-center py-3">
                            <strong>{{ sunset }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FEELS LIKE -->
            <div class="col mb-1">
                <div class="card d-inline-block text-center">
                    <div class="card-body text-center">
                        <div class="row justify-content-center">
                            <h1 class="lead py-3 top-header">TEMPERATURE</h1>
                        </div>
                        <div class="row justify-content-center">
                            <img width="64" height="64" src="https://img.icons8.com/arcade/64/temperature.png" alt="temperature"/>
                        </div>
                        <div class="row justify-content-center">
                            <strong>Feels like {{ feels }}</strong>
                        </div>
                        <div class="row justify-content-center">
                            <strong>{{ temp }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <!-- AIR QUALITY -->
            <div class="col">
                <div class="card d-inline-block text-center">
                    <div class="card-body text-center">
                        <div class="row justify-content-center">
                            <h1 class="lead py-3 top-header">AIR QUALITY</h1>
                        </div>
                        <img width="64" height="64" src="https://img.icons8.com/arcade/64/air-quality.png" alt="air-quality"/>
                        <div class="row justify-content-center">
                            <div class="display-5">Air Quality Index: <strong>{{ air_q_index }}</strong></div>
                        </div>
                        <div class="row justify-content-center">
                            <strong>{{ air_q_desc }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- WEATHER IN HOURS-->
    <div class="menu-wrapper">
        <h1 class="lead py-3 top-header">24H FORECAST</h1>
        <ul class="menu">
            {% for key in weather_hours %}
            <li class="item">
                <p class="display-5">{{ key }}</p>
                <img class="weather-icon" src="{{ weather_hours[key]['weather_icon']}}" alt="">
                <p class="display-5">{{ weather_hours[key]['temperature'] }}&deg;</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- WEATHER IN 3 DAYS -->
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div class="card">
                    <div class="card-header lead">
                        3 DAYS FORECAST
                    </div>
                    <div class="body-card text-center">
                        {% for key in weather_days %}
                        <div class="row text-center">
                            <div class="col align-self-center">{{ key }}</div>
                            <div class="col align-self-center">
                                <img class="weather-icon" src="{{ weather_days[key]['weather_icon']}}" alt="">
                            </div>
                            <div class="col align-self-center">{{ weather_days[key]['temperature']}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HUMIDITY - WIND SPEED - PRESSURE -->
    <div class="container">
        <div class="row">
            {% for key in params %}
            <div class="col md-2 py-2">
                <div class="card d-inline-block h-100">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h3 class="lead py-3 top-header">{{ key }}</h3>
                        </div>
                        <div class="row justify-content-center">
                            {% if key=='WIND SPEED' %}
                            <img width="48" height="48" src="https://img.icons8.com/doodle/48/wind.png"
                                 alt="wind"/>
                            {% elif key=='PRESSURE' %}
                            <img width="48" height="48" src="https://img.icons8.com/external-flat-andi-nur-abdillah/64/external-Air-Pressure-weather-(flat)-flat-andi-nur-abdillah.png"
                                 alt="external-Air-Pressure-weather-(flat)-flat-andi-nur-abdillah"/>
                            </h3>
                            {% else %}
                            <img width="48" height="48" src="https://img.icons8.com/office/80/dew-point.png"
                                 alt="dew-point"/>
                            {% endif %}
                        </div>
                        <div class="row justify-content-center py-3">
                            <strong>{{ params[key] }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- MAP -->
    <div class="container py-3">
        <!-- MAP -->
        <div class="embed-responsive embed-responsive-16by9 map-border">
            <iframe class="embed-responsive-item" allowfullscreen frameborder="0"
                    src={{ map_link }}
                    width="143%" height="345"></iframe>
        </div>

    </div>
{% endblock %}

{% block extra %}
    <!-- SECOND SECTION / JUMBOTRON-->
    <section class="py-5">
        <!-- JUMBOTRON -->
        <div class="jumbotron text-center">
            <h1 class="display-4">Explore the weather around the globe!</h1>
            <p class="lead">Find more graphical information for other locations.</p>
            <a class="btn btn-primary btn-lg" href="explore" role="button">Read More</a>
        </div>
        <div class="push"></div>
    </section>
{% endblock %}

{% block script %}
<script>
    // GET CURRENT DATE
    let date = new Date();
    // GET YEAR
    $('#year').text(date.getFullYear());
    // FORMATTED DATE
    $('#date').text(date.toString().slice(0, 16));
</script>
<script>
    const successCallback = (position) => {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const coordinates = {latitude, longitude};
        console.log('lat.:', coordinates.latitude)
        console.log('long.:', coordinates.longitude)
    };
    const errorCallback = (error) => {
        console.log(error);
    };
    document.addEventListener('DOMContentLoaded', function() {
        console.log("page is fully loaded");
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
    });
</script>
{% endblock %}