{% extends "layout.html" %}

{% block title %}DX-Dash{% endblock %}

{% block content %}
<div class="dark-overlay">
    <div class="container-fluid text-center">
        <div class="row justify-content-center">
            <h1 class="display-3">Weather forecast with DX-Dash!</h1>
        </div>
        <div class="row justify-content-center py-4">
            <p class="lead text-content">Find the weather at your location in the <a href="home" class="link-info">home page</a> and many more <a href="explore" class="link-info">urban areas </a>around the world.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        window.onload = navigator.geolocation.getCurrentPosition(success, error);

        function success(pos) {
            const crd = pos.coords;
            console.log("Your current position is:");
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            $.ajax({
                type: "POST",
                url: "{{ url_for('get_location') }}",
                data: {"Latitude": crd.latitude, "Longitude": crd.longitude}
            });
        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }
    </script>
{% endblock %}
