{% extends "layout.html" %}

{% block head%}
    {{ super() }}
    <style>
    body{color:#333;overflow:scroll;height:auto;background-size:cover;background:url('../img/background.avif') no-repeat fixed;position:relative;min-height:100vh}{% endblock %}
    </style>
{% block title %}DX-Dash{% endblock %}

{% block content %}
    <div class="dark-overlay">
        <div class="container-fluid text-center">
            <div class="row justify-content-center">
                <h1 class="display-3">Request location permission</h1>
            </div>
            <div class="row justify-content-center py-4">
                <p class="lead text-content">Please activate location detection to show you the forecast for your city.</p>
            </div>
        </div>
    </div>
{% endblock %}

